    @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Cinzel:wght@400..900&family=Cormorant+Upright:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Text+Me+One&family=Zilla+Slab+Highlight:wght@400;700&display=swap');

    .Main-Content {
        /* height: calc(100vh - 8rem); */
        height: calc(100vh - 1rem);
        overflow: hidden;
    }

    .Wrapper {
        width: 100%;
        max-width: 900px;
        border-radius: 40px;
        overflow: hidden;
        padding: 20px 0px;
        border-radius: 25px;
        background-color: rgba(191, 203, 206, 0.4);
        color: #350a3ec5;
        border: none;
        box-shadow: 0 10px 30px rgba(73, 11, 89, 0.15);
        cursor: pointer;
    }

    .Header h1 {
        font-family: "Cinzel";
        color: #ffffff;
        font-size: clamp(1.8rem, 2.2vw, 2rem);
    }

    .Quote {
        position: relative;
        font-family: "Cormorant Upright";
        font-weight: 500;
        font-size: clamp(0.8rem, 2vw, 1.6rem);
        color: #ffffff;
    }

    .Quote::before,
    .Quote::after {
        font-size: clamp(0.8rem, 2vw, 1.6rem);
        color: #ffffff;
        vertical-align: middle;
        line-height: 0;
        font-family: "Cinzel";
    }

    .Quote::before {
        content: "“";
    }

    .Quote::after {
        content: "”";
    }

    .btn {
        width: 100%;
        min-height: 60px;
        background: linear-gradient(135deg,
                rgba(130, 167, 241, 0.85) 0%,
                rgba(115, 126, 213, 0.85) 45%,
                rgba(239, 216, 235, 0.85) 100%);
        color: #260337c5;
        font-family: "Josefin Sans";
        font-size: clamp(1rem, 1.6vw, 1.4rem);
        border-radius: 0.4rem;
        transition:
            transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 0.35s ease;
    }

    .btn:hover,
    .btn:active {
        transform: scale(1.05);
        box-shadow: 0 10px 25px rgba(190, 30, 225, 0.35);
        color: #260337;
    }

    @media (max-width: 992px) {
        .Body {
            flex-wrap: wrap;
        }
    }