    @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Cinzel:wght@400..900&family=Cormorant+Upright:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Radley:ital@0;1&family=Text+Me+One&family=Zilla+Slab+Highlight:wght@400;700&display=swap');

    /* Haeding */

    .Header h1 {
        font-family: "Aboreto";
        font-size: clamp(1.7rem, 3vw, 2.8rem);
        font-weight: 500;
        color: #ffffffff;
    }

    /* Search Form, Container */

    .Search {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
    }

    label {
        font-family: "Cormorant Upright";
        font-size: clamp(0.9rem, 1.1vw, 1.4rem) !important;
        font-weight: bold;
        color: rgba(38, 0, 37, 1);
    }

    .form-control,
    .form-select {
        border: 2px solid rgba(239, 233, 238, 0.5);
        border-radius: 6px;
        font-family: "Cormorant Upright";
        font-weight: 900;
        font-size: clamp(0.7rem, 0.9vw, 1.2rem);
        transition: all 0.3s ease;
        background: rgba(243, 229, 246, 0.7);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        height: 42px;
        width: 100%;
    }

    .form-control:focus {
        color: #2e2d2dff;
        font-size: clamp(0.7rem, 1.2vw, 1.7rem);
        font-weight: 600;
        border-color: #260523c2;
        box-shadow: 0 0 0 0.2rem rgba(12, 0, 14, 0.25);
        background: rgba(255, 255, 255, 0.1);
    }

    .form-select:focus {
        color: #2e2d2dff;
        font-weight: 600;
        border-color: #260523c2;
        box-shadow: 0 0 0 0.2rem rgba(12, 0, 14, 0.25);
        background: rgba(0, 0, 0, 0.1);
    }

    input[type="text"]:not(:placeholder-shown) {
        color: #2e2d2dff;
    }

    .form-control::placeholder {
        color: #2e2d2dff;
        font-size: clamp(0.7rem, 1.4vw, 1rem);
        opacity: 0.9;
    }

    .form-select {
        color: #2e2d2dff;
        font-size: clamp(0.7rem, 1.4vw, 1rem);
    }

    .form-select option {
        font-family: "Cormorant Upright";
        background: rgba(232, 212, 237, 0.8);
        border-radius: 12px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
        border: none;
        color: rgba(29, 3, 36, 0.8);
        font-weight: 500;
    }

    .btn {
        font-family: "Cormorant Upright";
        font-weight: bolder;
        font-size: clamp(0.8rem, 1.3vw, 1.1rem);
        /* border: 2px solid rgba(38, 0, 37, 1); */
        background: rgba(103, 48, 127, 0.8);
        color: #ffffffff;
    }

    /* Cards */

    .card {
        background: rgba(204, 96, 237, 0.8);
        border: 3px solid rgba(255, 255, 255, 0.5);
        color: #ffffffc2;
        width: 100%;
        height: 85%;
    }

    .img-serial {
        position: absolute;
        top: 12px;
        left: 12px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 6px 12px;
        border-radius: 999px;
        font-size: clamp(0.8rem, 1vw, 1.2rem);
        font-weight: 600;
        backdrop-filter: blur(6px);
    }

    .img-fluid {
        object-fit: cover;
        width: 100%;
        height: 35%;
    }

    .card-title {
        font-family: "Aboreto";
        font-size: clamp(1rem, 1.3vw, 1.6rem);
    }

    .card-details p {
        font-family: "Cormorant Upright";
        font-weight: 600;
        font-size: clamp(1rem, 1.4vw, 1.2rem);
    }

    .card-text {
        font-family: "Radley";
        font-size: clamp(1.1rem, 1.5vw, 1.3rem);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0.55rem;
    }

    /* Pagination */
    .page-item button {
        background: rgba(103, 48, 127, 0.8) !important;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Cormorant Upright";
        font-size: clamp(0.9rem, 1.2vw, 1.7rem);
        font-weight: bolder;
    }

    .page-item button:hover {
        color: #ffffffff;
    }

    .Pagi-Caption p {
        color: #ffffffff;
        font-family: "Cormorant Upright";
        font-size: clamp(1rem, 1.6vw, 1.4rem);
        font-weight: bolder;
    }

    /* Modal */

    .modal-header h1 {
        font-family: "Cormorant Upright";
        font-weight: 900;
        font-size: clamp(1.3rem, 2vw, 1.8rem);
        color: #0e0115c2;
    }

    .modal-body {
        font-family: "Cormorant Upright";
        font-weight: 900;
        color: #0e0115c2;
    }

    .modal-body h6 {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
    }

    .modal-body p,
    .modal-body #modalStream_Tags {
        font-size: clamp(1rem, 1.8vw, 1.3rem);
        font-weight: 800;
    }

    #modalStream_Description {
        word-wrap: break-word;
        background: #e9cbf1cb;
        padding: 10px;
        border-radius: 8px;
    }

    #modalStream_Tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 5px;
    }