    @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Cinzel:wght@400..900&family=Cormorant+Upright:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Radley:ital@0;1&family=Text+Me+One&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
    /* Nav-Bar */

    .Nav-Bar {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        position: sticky;
        top: 1rem;
        z-index: 999;
    }

    .Nav-Bar .btn {
        font-size: clamp(0.8rem, 1.2vw, 1rem);
        padding: 0.1rem 1rem;
        font-weight: bolder;
        transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

    .btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(73, 11, 89, 0.25);
    }

    /* Haeding */

    .Header h1 {
        font-family: "Aboreto";
        font-size: clamp(1.5rem, 2.8vw, 2.6rem);
        font-weight: 500;
        color: #ffffffff;
    }

    /* T1_Search Form, Container */

    .Search {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
    }

    label {
        font-family: "Cormorant Upright";
        font-size: clamp(0.9rem, 1.1vw, 1.4rem) !important;
        font-weight: bold;
        color: rgba(38, 0, 37, 1);
    }

    .form-control,
    .form-select {
        border: 2px solid rgba(239, 233, 238, 0.5);
        border-radius: 6px;
        font-family: "Cormorant Upright";
        font-weight: 900;
        font-size: clamp(0.7rem, 0.9vw, 1.2rem);
        transition: all 0.3s ease;
        background: rgba(230, 229, 246, 0.7);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        height: 42px;
        width: 100%;
    }

    .form-control:focus {
        color: #2e2d2dff;
        font-size: clamp(0.7rem, 1.2vw, 1.7rem);
        font-weight: 600;
        border-color: #260523c2;
        box-shadow: 0 0 0 0.2rem rgba(12, 0, 14, 0.25);
        background: rgba(255, 255, 255, 0.1);
    }

    .form-select:focus {
        color: #2e2d2dff;
        font-weight: 600;
        border-color: #260523c2;
        box-shadow: 0 0 0 0.2rem rgba(12, 0, 14, 0.25);
        background: rgba(0, 0, 0, 0.1);
    }

    input[type="text"]:not(:placeholder-shown) {
        color: #2e2d2dff;
    }

    .form-control::placeholder {
        color: #2e2d2dff;
        font-size: clamp(0.7rem, 1.4vw, 1rem);
        opacity: 0.9;
    }

    .form-select {
        color: #2e2d2dff;
        font-size: clamp(0.7rem, 1.4vw, 1rem);
    }

    .form-select option {
        font-family: "Cormorant Upright";
        background: rgba(213, 212, 237, 0.8);
        border-radius: 12px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
        border: none;
        color: rgba(29, 3, 36, 0.8);
        font-weight: 500;
    }

    .btn {
        font-family: "Cormorant Upright";
        font-weight: bolder;
        font-size: clamp(0.8rem, 1.3vw, 1.1rem);
        /* border: 2px solid rgba(38, 0, 37, 1); */
        background: rgba(103, 48, 127, 0.8);
        color: #ffffffff;
    }

    /* Table */

    .table-responsive {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .table-responsive::-webkit-scrollbar {
        display: none;
    }

    th {
        background: rgba(255, 255, 255, 0.7) !important;
        font-family: "Cinzel";
        font-weight: bold;
        font-size: clamp(0.6rem, 1vw, 0.9rem);
        color: #0e0115c2 !important;
    }

    td {
        background: rgba(255, 255, 255, 0.5) !important;
        font-family: "Radley";
        font-weight: 500;
        font-size: clamp(0.6rem, 1vw, 0.9rem);
        color: #0e0115e2 !important;
    }

    .view-btn i {
        font-size: clamp(0.7rem, 1vw, 0.8rem);
    }

    /* Pagination */
    .page-item button {
        background: #1b012adc !important;
        color: #ffffffff;
        font-family: "Cormorant Upright";
        font-size: clamp(1rem, 1.3vw, 1.8rem);
        font-weight: bolder;
    }

    .page-item button:hover {
        color: #ffffffff;
    }

    .Pagi-Caption p {
        color: #ffffffff;
        font-family: "Cormorant Upright";
        font-size: clamp(1rem, 1.4vw, 1.2rem);
        font-weight: bolder;
    }

    /* Modal */

    .modal-header h1 {
        font-family: "Cormorant Upright";
        font-weight: 900;
        font-size: clamp(1.3rem, 2vw, 1.8rem);
        color: #0e0115c2;
    }

    .modal-body {
        font-family: "Cormorant Upright";
        font-weight: 900;
        color: #0e0115c2;
    }

    .modal-body h6 {
        font-size: clamp(0.8rem, 1.8vw, 1.3rem);
    }

    .modal-body p,
    .modal-body #modalQuery_Status {
        font-size: clamp(0.8rem, 1.8vw, 1.3rem);
        font-weight: 800;
    }

    #modalQuery,
    #modalAnswer {
        word-wrap: break-word;
        background: #e9cbf1cb;
        padding: 10px;
        border-radius: 8px;
    }

    #modalQuery_Status {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 5px;
    }